@font-face {
    font-family: redhatdisplay;
    src: url(../fonts/RedHatDisplay-VariableFont_wght.ttf) format(truetype);
}

:root {
    //  Primary

    --pale-blue: hsl(225, 100%, 94%);
    --bright-blue: hsl(245, 75%, 52%);
    --mut-pale-blue: hsl(228, 20%, 95%);

    // Neutral

    --very-pale-blue: hsl(225, 100%, 98%);
    --desaturated-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);
}

* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: redhatdisplay
}

body {
    background: var(--pale-blue);

    @media(min-width:768px){
        margin: 15rem 22rem;
    }

    .card {
        background: var(--very-pale-blue);
        margin: 2rem 1rem;
        border-radius: 1rem;

        .dancing {
            border-top-right-radius: 1rem;
            border-top-left-radius: 1rem;
            width: 100%;
        }

        .content {
            padding: 1rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            
            @media(min-width:768px){
                padding: 2rem;;
            }

            h1 {
                font-weight: 900;
                font-size: 25px;
                margin-top: 1rem;
                color: var(--dark-blue);
            }

            p {
                font-weight: 500;
                font-size: 16px;
                margin-top: 1rem;
                color: var(--desaturated-blue);
                text-align: center;
                line-height: 1.25rem;
            }

            .plan {
                background: var(--mut-pale-blue);
                display: flex;
                align-items: center;
                border-radius: 0.5rem;
                padding: 0.5rem;
                height: 3.5rem;
                margin-top: 1rem;

                .icon-music {
                    width: 3rem;
                    height: 3rem;
                }

                h1 {
                    font-weight: 700;
                    font-size: 16px;
                    color: var(--dark-blue);
                    margin: 1rem;
                }

                span {
                    font-weight: 500;
                    font-size: 16px;
                    color: var(--desaturated-blue);

                }

                h2 {
                    font-weight: 900;
                    font-size: 16px;
                    text-decoration: underline;
                    color: var(--bright-blue);

                    &:hover{
                        color: var(--desaturated-blue);
                    }
                }

            }

            button {
                background: var(--bright-blue);
                color: var(--very-pale-blue);
                font-size: 16px;
                font-weight: 700;
                padding: 0.75rem;
                margin-top: 1rem;
                border-radius: 0.5rem;
                width: 100%;

                &:hover {
                    background: var(--desaturated-blue);
                }
            }

            h3 {
                color: var(--desaturated-blue);
                font-size: 16px;
                font-weight: 700;
                margin: 1.5rem 0 1rem;

                &:hover {
                    color: var(--dark-blue);
                }
            }

        }

    }
}